<!-- templates/create_employee.html -->

{% extends "base.html" %}
<p>** Mandatory Fields.</p>
{% block content %}
<style>
label {
  display: inline-block;
  width: 140px;
  text-align: left;
}
div#loading {
    width: 60px;
    height: 60px;
    display: none;
    background: url(/static/styles/Hourglass.gif) no-repeat;
    cursor: wait;
    }
</style>
<div id="loading"></div>
<div id="form" class="container">
    <h2 class="title">New Employee Record</h2>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
        {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        <p><h3 class="has-text-centered"><strong>Employee Profile</strong></h3></p><br>
        <form method="POST" action="/employee/new">
            <div class="field">
                <div class="control">
                    <select class="input is-large" id="per_title" name="per_title" placeholder="Title">
                      <option value="">Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                    </option>
                    </select>
                    </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="firstname" name="firstname" onkeyup="expand(this);" placeholder="Employee Firstname"  autofocus="" autocomplete="off" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="lastname" name="lastname" onkeyup="expand(this);" placeholder="Employee Lastname"  autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="title" name="title" onkeyup="expand(this);" placeholder="Job Title"  autofocus="" autocomplete="off" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <select class="input is-large" id="type" name="type" placeholder="Employment Type" required>
                        <option value="">Employment Type</option>
                        <option value="Permanent">Permanent</option>
                        <option value="Contractor">Contractor</option>
                        <option value="FTC">FTC</option>
                        <option value="Undergraduate">Undergraduate</option>
                        <option value="Apprentice">Apprentice</option>
                    </option>
                    </select>
                    </div>
            </div>
            <div class="field">
                <div class="control">
                    <select class="input is-large" id="status" name="status" placeholder="Employment Status" required>
                        <option value="">Employment Status</option>
                        <option value="Active">Active</option>
                        <option value="Resigned">Resigned</option>
                        <option value="Terminated">Terminated</option>
                        <option value="Sabbatical">Sabbatical</option>
                    </option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <select class="input is-large" id="manager" name="manager" placeholder="Manager">
                        <option value="">Manager</option>
                        {% for item in emp_list %}
                        <option value="{{item.firstname}} {{item.lastname}}">{{item.firstname}} {{item.lastname}}</option>
                        {% endfor %}
                    </option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="textbox-n" type="text" id="dob" name= "dob" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of Birth" autofocus="" required>
                    <input class="textbox-n" type="text" id="doj" name= "doj" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Employed Since" autofocus="" required>
                    <input class="textbox-n" type="text" id="dol" name= "dol" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of Leaving" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="salary" type="number" step="1" pattern="\d+" name="salary" placeholder="Annual Salary" autofocus="" required>
                </div>
            </div>
            <p><h3 class="has-text-centered"><strong>Employee Contact</strong></h3></p><br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="address" type="text" name="address" onkeyup="expand(this);" placeholder="Address" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" id="phone" type="number" step="1" pattern="\d+" name="phone" placeholder="Phone Number" autofocus="">
                    <input class="input is-large" id="mobile" type="number" step="1" pattern="\d+" name="mobile" placeholder="Mobile Number" autofocus="" required>
                    <input class="input is-large" type="email" id="email" name="email" onkeyup="expand(this);" placeholder="Email" autofocus="" required>
                </div>
            </div>
            <p><h3 class="has-text-centered"><strong>Employee Bank</strong></h3></p><br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" id="bank" name="bank" onkeyup="expand(this);" placeholder="Bank Name" autofocus="">
                    <input class="input is-large" type="number" id="sortcode" step="1" pattern="\d+" name="sortcode" placeholder="Sort Code" autofocus="">
                    <input class="input is-large" type="number" id="account" step="1" pattern="\d+" name="account" placeholder="Account Number" autofocus="">
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth" onclick="loading();">Create Employee</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).on('submit','#todo-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          todo:$("#todo").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });

    function expand(textbox) {
    if (!textbox.startW) { textbox.startW = textbox.offsetWidth; }

    var style = textbox.style;

    //Force complete recalculation of width
    //in case characters are deleted and not added:
    style.width = 0;

    //http://stackoverflow.com/a/9312727/1869660
    var desiredW = textbox.scrollWidth;
    //Optional padding to reduce "jerkyness" when typing:
    desiredW += textbox.offsetHeight;

    style.width = Math.max(desiredW, textbox.startW) + 'px';
}
  </script>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#form").hide();
        }
// ]]></script>
{% endblock %}
