{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Password Reset Request</h3>
    <div class="box">
        <form class="form-signin" role="form" method="POST" action="">
            <div class="field">
                <div class="control">
                    {{ form.csrf_token }}
                    {{ form.email(placeholder="Email", class="input is-large", type="email") }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="notification is-danger">
                        {{ error }}.
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <span class="error">
                    {{ form.dob(placeholder="Date of Birth", class="input is-large", type="text", onfocus="(this.type='date')", onblur="(this.type='text')") }}
                    {% if form.dob.errors %}
                    {% for error in form.dob.errors %}
                    <div class="notification is-danger">
                        {{ error }}.
                    </div>
                    {% endfor %}
                    {% endif %}
                    </span>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Reset Password</button>
        </form>
        <br>
        <p>Want to try one more time? <a style="font-weight:bold" href="/login">Login</a>.</p>
    </div>
</div>
{% endblock %}
