{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Modify Password</h3>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="notification {{ category }}"> {{ message }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form-signin" role="form" method="POST" action="">
            <div class="field">
                <div class="control">
                    <span class="error">
                    {{ form.csrf_token }}
                    {{ form.curr_password(placeholder="Current Password", class="input is-large", type="password") }}
                    {% if form.curr_password.errors %}
                    {% for error in form.curr_password.errors %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <span class="error">
                    {{ form.password(placeholder="New Password", class="input is-large", type="password") }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <span class="error">
                    {{ form.confirm(placeholder="Confirm Password", class="input is-large", type="password") }}
                    {% if form.confirm.errors %}
                    {% for error in form.confirm.errors %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                    </span>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Change Password</button>
        </form>
        <br>
        <p>Back to portal? <a style="font-weight:bold" href="/portal">Portal</a>.</p>
    </div>
</div>
{% endblock %}
